/*body {
    background-image: url(imagenes/fondoweb.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}*/
body {
    background-color: black;
}

#titulo {
    color: rgba(252, 252, 252, 0.992);
    font-size: 40px;
    font-family: "Segoe UI";
    text-align: center;
}

h1 {
    color: rgb(241, 241, 241);
    font-size: 30px;
    font-family: 'Arial', serif;
}

#presentacion {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.814);
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px 70px 20px;
}

.contenedor-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 16px;
}

#restaurante {
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    /* Ancho del contenedor */
    height: 300px;
    /* Altura del contenedor */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    /* Color y desenfoque */
    z-index: -1;
    /* Estilo del borde */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 20px;
}

#tiendaderopa {
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    /* Ancho del contenedor */
    height: 300px;
    /* Altura del contenedor */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    /* Color y desenfoque */
    z-index: -1;
    /* Estilo del borde */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 20px;
}




#logoig {
    width: 35px;
    w
}

#logofacebook {
    width: 45px;
}

#logolindk {
    width: 33px;
}

#logogmail {
    width: 43px;
    margin-left: 16px;
}

h2 {
    color: rgb(14, 138, 195);
    font-size: 20px;
}

#autor-heber {
    font-size: 19px;
    color: rgb(231, 231, 231);
    font-family: 'Libre Baskerville', serif;
}

#mensaje {
    font-size: 30px;
    margin-top: 280px;
    color: #0EE2CC;
    text-align: center;
}